<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Javascript Test</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row class="ion-justify-content-center ion-padding">
            <div *ngFor="let resp of profilService.reponse">
                <ion-icon *ngIf="resp==0" color="danger" style="width: 30px;height: 30px" name="close-circle"></ion-icon>
                <ion-icon *ngIf="resp==1" color="primary" style="width: 30px;height: 30px" name="checkmark-circle"></ion-icon>
            </div>
        </ion-row>
        <ion-row class="ion-padding">
            <ion-progress-bar color="secondary" value="{{timer/60}}"></ion-progress-bar>
        </ion-row>
        <ion-row class="ion-justify-content-center">
            <ion-text>{{time|async}} </ion-text>
        </ion-row>
        <ion-row class="ion-justify-content-center ion-padding-top">
            <ion-text>Question {{currentQuestionIndex+1}}/{{questionCount}}</ion-text>
        </ion-row>
        <ion-row class="ion-justify-content-center">
            <ion-card class="ion-justify-content-center ion-padding">
                <ion-card-content class="ion-text-center"><p>{{currentQuestion}}</p></ion-card-content>
            </ion-card>
        </ion-row>
        <ion-list>
            <ion-item *ngFor="let qst of currentResponses; let i=index">
                <ion-checkbox class="ion-margin-end" [(ngModel)]="userResponse[i]"></ion-checkbox>
                <ion-label>{{qst}}</ion-label>
            </ion-item>
        </ion-list>
        <ion-row class="ion-justify-content-center ion-margin-top">
            <div class="ion-text-center">
                <ion-button color="primary" *ngIf="currentQuestionIndex+1 != questionCount " (click)="questionSuivant()">Suivant</ion-button>
                <ion-button color="success" *ngIf="currentQuestionIndex+1 == questionCount " routerLink="/quizz3" (click)="quizTerminer()">Terminer</ion-button>
                <br/>
                <a  *ngIf="currentQuestionIndex+1 != questionCount " (click)="questionSuivant()">passer à la question suivante</a>
            </div>
        </ion-row>
    </ion-grid>
</ion-content>



