<ion-app>
  <ion-menu side="start" content-id="main-content">
    <ion-header>
      <ion-toolbar translucent>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <div style="text-align: center">
        <img src="https://cdn.pixabay.com/photo/2019/08/11/18/59/icon-4399701_960_720.png" style="height: 100px">
        <p>Mon profil</p>
        <p>Modifier mes informations</p>
      </div>


      <ion-list>
        <a routerLink="/quiz1">
        <ion-item>
          <ion-label>Les quiz</ion-label>
          <ion-icon name="list" slot="end"></ion-icon>

        </ion-item>
        </a>
        <ion-item>
          <ion-icon name="checkbox-outline" slot="end"></ion-icon>
          <ion-label>Les sondages</ion-label>
        </ion-item>

      </ion-list>
    </ion-content>
  </ion-menu>

  <div class="ion-page" id="main-content">
    <ion-header style="background-color: white">
      <ion-toolbar>
        <ion-buttons slot="start">

          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <div style="text-align: center">
          <ion-title>Accueil</ion-title>
        </div>

      </ion-toolbar>

    </ion-header>
    <ion-content class="ion-padding">
      <div style="text-align: center">
        <ion-title>Vos Resultats</ion-title>
      </div>
       <ion-card>
         <ion-card-header>
           <ion-card-title style="text-decoration: underline">javascript</ion-card-title>
         </ion-card-header>
         <ion-card-content>
           <p>Résultat : {{resultat}}/4</p>
           <p>Date : 17/03</p>
           <div style="text-align: right">

             <a routerLink="/retourprof"><p>Voir les retours du prof</p></a>
           </div>

         </ion-card-content>
       </ion-card>
        <ion-card>
        <ion-card-header>
          <ion-card-title style="text-decoration: underline">Programmation java</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>Résultat : 12/20</p>
          <p>Date : 17/03</p>
          <div style="text-align: right">
            <p>En attente de retours</p>
          </div>

        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-card-header>
          <ion-card-title style="text-decoration: underline">Programmation java</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>Résultat : 12/20</p>
          <p>Date : 17/03</p>
          <div style="text-align: right">
            <p>En attente de retours</p>
          </div>

        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-card-header>
          <ion-card-title style="text-decoration: underline">Programmation java</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>Résultat : 12/20</p>
          <p>Date : 17/03</p>
          <div style="text-align: right">
            <p>En attente de retours</p>
          </div>

        </ion-card-content>
      </ion-card>
      <ion-card>
        <ion-card-header>
          <ion-card-title style="text-decoration: underline">Programmation java</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>Résultat : 12/20</p>
          <p>Date : 17/03</p>
          <div style="text-align: right">
            <p>En attente de retours</p>
          </div>

        </ion-card-content>
      </ion-card>
    </ion-content>
    <ion-footer>
      <div style="text-align: center">
      <ion-button routerLink="/quiz1">Quiz</ion-button>
      <ion-button>Sondages</ion-button>
      <ion-button>Paramêtres</ion-button>
      </div>
    </ion-footer>
  </div>
</ion-app>


