<ion-app>
    <ion-menu side="start" content-id="main-content">
        <ion-header>
            <ion-toolbar translucent>
                <ion-title>Menu</ion-title>
            </ion-toolbar>
        </ion-header>
        <ion-content>
            <div style="text-align: center">
                <img src="https://cdn.pixabay.com/photo/2019/08/11/18/59/icon-4399701_960_720.png" style="height: 100px">
                <p>Mon profil</p>
                <p>Modifier mes informations</p>
            </div>


            <ion-list>
                <a routerLink="/quiz1">
                    <ion-item>
                        <ion-label>Les quiz</ion-label>
                        <ion-icon name="list" slot="end"></ion-icon>

                    </ion-item>
                </a>
                <ion-item>
                    <ion-icon name="checkbox-outline" slot="end"></ion-icon>
                    <ion-label>Les sondages</ion-label>
                </ion-item>

            </ion-list>
        </ion-content>
    </ion-menu>

    <div class="ion-page" id="main-content">
        <ion-header>

                <ion-toolbar>
                    <ion-title>Quiz</ion-title>
                    <ion-buttons slot="start">

                        <ion-menu-button></ion-menu-button>
                    </ion-buttons>
                </ion-toolbar>
        </ion-header>



        <ion-content>

            <ion-searchbar placeholder="Recherche"></ion-searchbar>



            <ion-row>
                <ion-col>
                    <div>
                        <ion-label>Année</ion-label>
                        <ion-select placeholder="Select">
                            <ion-select-option value="3">3</ion-select-option>
                            <ion-select-option value="4">4</ion-select-option>
                            <ion-select-option value="5">5</ion-select-option>
                        </ion-select>
                    </div>
                </ion-col>
                <ion-col>
                    <div>
                        <ion-label>Thèmes</ion-label>
                        <ion-select placeholder="Select">
                            <ion-select-option value="IHM">IHM</ion-select-option>
                            <ion-select-option value="JavaScript">JavaScript</ion-select-option>
                            <ion-select-option value="Math">Math</ion-select-option>
                        </ion-select>
                    </div>
                </ion-col>
            </ion-row>




            <ion-label> Quiz récemment ajoutés</ion-label>
            <div class="container">
                <div class="scroll" scrollX="true">
        <span>
          <ion-card>
            <ion-card-header>
                <img >
              <ion-label>JavaScript Test</ion-label>
            </ion-card-header>
          </ion-card>
        </span>
                    <span>
          <ion-card>
            <ion-card-header>
                <img >
              <ion-label>Algèbre Test</ion-label>
            </ion-card-header>
          </ion-card>
        </span>
                    <span>
          <ion-card>
            <ion-card-header>
                <img >
              <ion-label>Math Test</ion-label>
            </ion-card-header>
          </ion-card>
        </span>
                </div>
            </div>



            <ion-label>Filtrer par thème</ion-label>
            <div class="container">
                <div class="scroll" scrollX="true">
      <span>
            <ion-card>
              <ion-card-header>
                <ion-label>Math</ion-label>
              </ion-card-header>
            </ion-card>
          </span>
                    <span>
            <ion-card>
              <ion-card-header>
                <ion-label>Prommation</ion-label>
              </ion-card-header>
            </ion-card>
          </span>
                    <span>
            <ion-card>
              <ion-card-header>
                <ion-label>IHM</ion-label>
              </ion-card-header>
            </ion-card>
          </span>
                    <span>
            <ion-card>
              <ion-card-header>
                <ion-label>BDD</ion-label>
              </ion-card-header>
            </ion-card>
          </span>
                </div>
            </div>



        </ion-content>
        <ion-footer>
            <ion-row>

                <ion-col size="auto">
                    <a routerLink="/quiz1">
                        <ion-card>
                            <ion-card-content style="text-align: center">
                                <ion-icon name="list"></ion-icon>
                                <p>Quizz</p>
                            </ion-card-content>
                        </ion-card>
                    </a>
                </ion-col>

                <ion-col size="auto">
                    <ion-card>

                        <ion-card-content style="text-align: center">
                            <ion-icon name="checkbox-outline" ></ion-icon>
                            <p>Sondage</p>
                        </ion-card-content>
                    </ion-card>
                </ion-col>
                <ion-col size="auto">
                    <ion-card>
                        <ion-card-content style="text-align: center">
                            <ion-icon name="cog"></ion-icon>
                            <p>Paramêtres</p>
                        </ion-card-content>
                    </ion-card>
                </ion-col>
            </ion-row>
        </ion-footer>
    </div>
</ion-app>


