ion-card-title {
  text-align: center;
}
ion-card-subtitle{
  text-align: center;
}
ion-button{
  margin-left: auto;
  margin-right: auto;
 }
ion-label{
  margin-left: auto;
  margin-right: auto;
}