<ion-header>
  <ion-toolbar>
    <ion-title slot="secondary">Nom du quizz transmis</ion-title>
    <ion-buttons>
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>



<ion-content>
  <div style="text-align: center">
    <h3 name="BravoOuPas">Félicitation</h3>
    <h4 name="Note">Vous avez obtenu 45/10</h4>
  </div>
    <ion-card>
      <ion-item>
        <ion-avatar slot="start">
          <img src="..\assets\icon\manouche277-removebg-preview.png"/>
        </ion-avatar>
        <ion-label>Anthony</ion-label>
        <ion-label>Points gagnés</ion-label>
        <ion-label>2000 pts</ion-label>
      </ion-item>
    </ion-card>

  <ion-grid>
    <ion-row name="LigneRepTrueFalse">
      <ion-col>
        <ion-card>
          <ion-card-title classe="titreCentré" name="NbRepTrue">17</ion-card-title>
          <ion-card-subtitle>R.Correctes</ion-card-subtitle>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <ion-card-title name="NbRepFalse">3</ion-card-title>
          <ion-card-subtitle>R.Incorrectes</ion-card-subtitle>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-card>
    <ion-card-title>5.8s</ion-card-title>
    <ion-card-subtitle>Temps moyen/question</ion-card-subtitle>
  </ion-card>

  <ion-grid>
    <ion-row>
      <ion-label>Consulter la correction</ion-label>
    </ion-row>
    <ion-row>
      <ion-button>Recommencer</ion-button>
    </ion-row>
  </ion-grid>


</ion-content>
