.image{
    max-width: 250px;
    max-height: 110px;
    margin: auto ;
    margin-top: 10px;

}
.text1{
    margin-top: 20px;
    margin-bottom: 20px;
}
ion-button{
    background-color:white;
    color: black;
    width: 200px;
    border:  1.5px solid ;
    box-shadow: 2px 2px 1px black;
}