<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Javascript test Corrigé</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center ion-padding-top">
      <ion-text>Vous avez eu 3 réponses incorrectes</ion-text>
    </ion-row>
    <ion-row class="ion-align-items-cente">
      <ion-card class="ion-justify-content-center ion-padding">
        <ion-card-content class="ion-text-center "><p>{{currentQuestion}}</p></ion-card-content>
      </ion-card>
    </ion-row>
    <ion-list>
      <ion-list>
        <ion-item *ngFor="let qst of currentResponses; let i=index">
          <ion-icon  *ngIf="currentCorrectResponse != i " color="danger " style="width: 30px;height: 30px" name="close-circle"></ion-icon>
          <ion-icon  *ngIf="currentCorrectResponse == i " color="success" style="width: 30px;height: 30px" name="checkmark-circle"></ion-icon>
          <ion-label>{{qst}}</ion-label>
        </ion-item>
      </ion-list>
    </ion-list>
    <ion-row class="ion-justify-content-start ion-margin-start">
      <ion-text><b>Explication : </b></ion-text>
    </ion-row>
    <ion-row class="ion-justify-content-start ion-margin-start">
      <ion-text>
        <br/>
        L'explication est donc (..)</ion-text>
      {{testService.questions[0]}}
    </ion-row>
    <ion-row class="ion-justify-content-center ion-margin-top">
      <div class="ion-text-center">
        <a color="primary" *ngIf="currentQuestionIndex+1 != questionCount " (click)="questionSuivant()">Suivant</a>
        <a color="success" *ngIf="currentQuestionIndex+1 == questionCount " routerLink="/quizz3" (click)="quizTerminer()">Terminer</a>
      </div>
    </ion-row>
  </ion-grid>
</ion-content>



