<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Java Script Test Corrigé
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="small">Java Script Test Corrigé</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-text color="black">
    <h4> Vous avez eu 3 réponses incorrectes</h4>
  </ion-text>

  <ion-chip>
    <ion-label>1</ion-label>
  </ion-chip>

  <ion-chip>
    <ion-label>2</ion-label>
  </ion-chip>


  <ion-chip>
    <ion-label>3</ion-label>
  </ion-chip>

  <ion-card>
    <ion-card-content>
      " Que se passe-t-il avec cette instruction ?"
    </ion-card-content>
  </ion-card>
</ion-content>

<!-- Checked Checkbox -->
<ion-checkbox checked="true"></ion-checkbox>